<%- include('../partials/header', { title: 'Ruta 4' }) %>
   <link rel="stylesheet" href="/css/cooki.css">
   <!-- Hero Section -->
    <section class="hero" id="home">
        <div class="world-indicator">
            Coki IA
        </div>
        <h1>Tu Bienestar Mental, cuidado y potenciado por Coki</h1>
        <p class="subtitle">
        <div class="hero-buttons">
            <a href="/IA" class="btn-primary">Hablar con Coki</a>
        </div>
    </section>

    <!-- Features Section -->
    <section class="features">
        <div class="features-content">
            <div>
               <img src="/img/cooki/PSi.png" alt="">
            </div>
            <div>
                <h2>Conoce sobre Coki</h2>
            </h1>
                <p>Coki es un perrito apasionado por la psicología, desde pequeño le ha gustado ayudar a todas las personas que tienen problemas o que quieren ser escuchados por eso el esta listo para escuchar sobre tu día, algun problema o situación que quieras compartir. Puedes preguntar lo que necesites, siempre y cuando sea de Psicología, bienestar emocional o desarrollo personal.</p>
            </div>
        </div>
    </section>

    <!-- How it Works Section -->
    <section class="how-it-works" id="how">
        <h2>¿Como funciona Cooki?</h2>
        <div class="steps">
            <div class="step">
                <div class="step-icon">1</div>
                <h3>Inicia una conversación con Coki</h3>
                <p>Simplemente envía un mensaje sobre como has sido tu día, alguna duda o simplemente saludalo.</p>
            </div>
            <div class="step">
                <div class="step-icon">2</div>
                <h3>Coki reaccionará</h3>
                <p>Coki te escuchará y pensará en una respuesta para ti.</p>
            </div>
            <div class="step">
                <div class="step-icon">3</div>
                <h3>Coki responderá</h3>
                <p>Coki te ofrecerá respuestas sobre lo que le hayas hablado.</p>
            </div>
        </div>
    </section>

    
<%- include('../partials/footer') %>