   <link rel="stylesheet" href="/css/cooki.css">
   <!-- Hero Section -->
    <section class="inicio-container">
        
        <div class="columna-texto">
            <h1>Hola, Soy Coki</h1>
            <p>Yo sere desde hoy tu nuevo amigo y asistente de bienestar emocional. Puedes hablar conmigo sobre cualquier cosa que te preocupe o simplemente para compartir tu día. Yo estare encantado de escucharte.</p>
            <div class="cta-group">
                <a href="/IA/" class="btn-coki"><i class="fas fa-comment-dots"></i> Habla con Coki</a>
            </div>
        </div>

        <div class="columna-cookie">
            <img src="/img/cooki/perrito medico.png" alt="Coki, tu asistente emocional">
        </div>
        
    </section>

    <!-- Features Section -->
    <section class="features">
        <div class="features-content">
            <div>
               <img src="/img/cooki/PSi.png" alt="Coki Psicología">
            </div>
            <div>
                <h2>Conoce sobre Coki</h2>
                <p>Coki es un perrito apasionado por la psicología, desde pequeño le ha gustado ayudar a todas las personas que tienen problemas o que quieren ser escuchados por eso el esta listo para escuchar sobre tu día, algun problema o situación que quieras compartir. Puedes preguntar lo que necesites, siempre y cuando sea de Psicología, bienestar emocional o desarrollo personal.</p>
            </div>
        </div>
    </section>

    <!-- How it Works Section -->
    <section class="how-it-works" id="how">
        <h2>¿Como funciona Cooki?</h2>
        <div class="steps">
            <div class="step">
                <div class="step-icon">1</div>
                <h3>Inicia una conversación con Coki</h3>
                <p>Simplemente envía un mensaje sobre como has sido tu día, alguna duda o simplemente saludalo.</p>
            </div>
            <div class="step">
                <div class="step-icon">2</div>
                <h3>Coki reaccionará</h3>
                <p>Coki te escuchará y pensará en una respuesta para ti.</p>
            </div>
            <div class="step">
                <div class="step-icon">3</div>
                <h3>Coki responderá</h3>
                <p>Coki te ofrecerá respuestas sobre lo que le hayas hablado.</p>
            </div>
        </div>
    </section>

    
<%- include('../partials/footer') %>
