<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones - Braincare</title>
    <link rel="stylesheet" href="/public/css/tyc.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Política de Devoluciones y Reembolsos</h1>
            <h3>Para utilizar los servicios de Braincare, debes estar de acuerdo con los siguientes términos:</h3>
        </header>

        <section class="refunds">
            <h3>1. Servicios digitales</h3>
            <p>Debido a la naturaleza digital de los servicios ofrecidos en Braincare (como artículos informativos, acceso al chatbot, participación en foros y descarga de guías), no se realizan reembolsos una vez que el contenido ha sido entregado, accedido o descargado. Esto se debe a que, una vez consumido, el servicio no puede ser devuelto ni revocado. Recomendamos revisar detenidamente la descripción de los contenidos antes de efectuar cualquier pago o adquisición. Si tiene dudas, puede contactarnos antes de realizar la compra.</p>
        
            <h3>2. Errores de facturación</h3>
            <p>Si considera que ha habido un error en el cobro de alguno de nuestros servicios, puede solicitar una revisión dentro de los primeros 7 días posteriores a la transacción. Para ello, deberá enviar un correo a nuestro correo de contacto. Incluyendo el comprobante de pago, una breve descripción del problema y sus datos de contacto.</p>
            <p>Nos comprometemos a responder su solicitud en un plazo máximo de 5 días hábiles.</p>
        
            <h3>3. Métodos de reembolso</h3>
            <p>En los casos aprobados, los reembolsos se procesarán únicamente mediante el mismo método de pago utilizado durante la compra (por ejemplo, tarjeta de crédito o débito, transferencia, etc.). No se realizarán reembolsos en efectivo ni a cuentas distintas a la original.</p>
            <p>El tiempo que tarda en reflejarse el reembolso puede variar según el banco o plataforma de pago utilizada, normalmente entre 5 y 10 días hábiles.</p>
        </section>        
    </div>
</body>
  <!-- Tu JS primero, para que el callback global exista antes de cargar el script de Google -->
  <script src="/js/tradux.js"></script>
  <!-- Script oficial de Google (callback definido en translate.js) -->
  <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</html>